:root{
    --dark: #333333;
    --light: #eeeeee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    max-width: 100vw;
    background: var(--light);
    color: var(--dark);
    display: flex;
    flex-direction: column;
}

#top{
    width: 100%;
    background: antiquewhite;
    color: #333333;
    min-height: fit-content;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 700;
    border-bottom: 1px solid white;
}

nav{
    width: 100%;
    height: auto;
}

.navbar, .subjects{
    background: cornflowerblue;
    width: 100%;
    height: auto;
    min-height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.subjects{
    display: none;
    padding-top: 5px;
}

nav:hover .subjects{
    display: flex;
    position: absolute;
    z-index: 2;
    background: #6495ED44;
    backdrop-filter: blur(5px);
}

nav:hover (.active:not(.nav-anchors-subjects)){
    border-bottom-width: 5px;
}

.navbar li{
    height: auto;
    min-height: 50px;
}

.nav-anchors, .nav-anchors-subjects{
    display: block;
    padding: 12px 30px;
    color: var(--dark);
    text-decoration: none;
    font-weight: 600;
}

.navbar > li:has(.nav-anchors:hover), .subjects > li:has(.nav-anchors-subjects:hover){
    border-bottom: 1px solid var(--dark);
}

.hidden{
    display: none;
}

.navbar > li:has(.active), .subjects > li:has(.active){
    border-bottom: 1px solid var(--dark); ;
    backdrop-filter: brightness(90%);
}

main{
    flex: 1;
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 2% 0;
}

#main{
    flex: 1;
    height: 90%;
    width: 90%;
    background: #cccccc99;
    backdrop-filter: blur(5px);
    border-radius: 12px;
    color: var(--light);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container{
    display: grid;
    width: 175px;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    position: relative;
    grid-template-rows: 1fr 1fr;
    text-decoration: none;
    .container-image{
        object-fit: cover;
    }
    img{
        width: 175px;
        height: auto;
    }
    .container-description{
        background: var(--dark);
        border-radius: 0 0 8px 8px;
        color: var(--light);
        text-align: center;
        font-size: 1.2em;
    }
}



.blue{
    color: slateblue;
}

.light-blue{
    color: cornflowerblue;
}